body{
  margin: 0;
  color: #4F4F4F;
  position:relative;
  /*overflow:hidden;*/
}

.header_title{
  margin-left: 10px;
  display: flex;
  align-items: center;
  width:auto;
  cursor: pointer;
}
header img{
  width: 40px;
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 100px;
}
.header_li{
  margin: 0 50px 0 auto;
  display: flex;
  width: auto;
  align-items: center;
  cursor: pointer;
  list-style:none;
  font-family: "Kokoro";
}
.header_li li a{
  text-decoration:none;
  margin-left: 50px;
}
.header_li li a:visited{
  color:white;
}
#head_1{
  color: white;
  background-color:#7195BD;
  height: 50px;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
  font-family: "Kokoro";
  font-size: 1.2em;
  font-weight: bold;
  display:flex;
  position:fixed;
  top:0;
  width:100vw;
  z-index:10;
}
main{
  margin-top:60px;
}
